*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --display-wide: flex;
  --display-narrow: none; }

@media (max-width: 1000px) {
  :root {
    --display-wide: none;
    --display-narrow: flex; } }
body {
  overflow: hidden; }

.wrapper {
  display: flex;
  max-width: 1280px;
  margin: 0 auto; }

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%; }

.profession-main {
  display: flex;
  justify-content: space-between;
  width: auto; }

.profession-choise {
  list-style-type: none; }

.profession-choise:hover {
  cursor: pointer; }

.prof-menu {
  position: relative; }

.prof-menu-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 0;
  overflow: hidden;
  background-color: #89CBD7; }

.header {
  display: block;
  justify-content: flex-start;
  height: 80px;
  overflow: hidden; }

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }

.nav-link {
  display: var(--display-wide);
  list-style-type: none; }
  .nav-link > li {
    padding: 0 15px; }
    .nav-link > li > a {
      text-decoration: none;
      color: black; }

.user {
  display: var(--display-wide); }

.burger-btn {
  display: var(--display-narrow);
  height: 13px;
  margin-right: 20px; }

.menu {
  display: var(--display-narrow);
  position: absolute;
  top: 0;
  left: 100vw;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: blueviolet; }

.menu-nav {
  display: flex;
  flex-direction: column;
  list-style-type: none; }

.menu-social {
  display: flex;
  list-style-type: none; }

.vertical-menu {
  position: sticky;
  display: var(--display-wide);
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 100vh; }

.label {
  transform: rotate(270deg);
  margin-top: 150px;
  background-color: khaki; }

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  list-style-type: none; }

.social > li {
  padding: 10px 0; }

.footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: auto;
  height: 100px;
  margin: auto 0 0 0;
  background-color: #89CBD7; }
