@charset "UTF-8";
/* Это добавить в шапку файла для подключения шрифтов
            так пропсывать шрифта:
font-family: 'Anonymous Pro';   и    font-family: 'Graphik'; */
/* <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet prefetch" href="https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css">
    */
@import url(//db.onlinewebfonts.com/c/575fc498ad34ad0f411e618dad9ed36a?family=Graphik+LC+Web+Regular);
h1, h2, h3, h4 {
  font-family: 'Anonymous Pro';
  font-weight: 700; }

h1 {
  font-size: 5rem;
  line-height: 3.75rem; }

h2 {
  font-size: 2.25rem;
  line-height: 2.25rem; }

h3 {
  font-size: 2rem;
  line-height: 2rem; }

h4 {
  font-size: 1.5rem;
  line-height: 1.5rem; }

p {
  font-family: 'Graphik';
  font-size: 1.25rem;
  font-weight: 160%; }

a {
  font-family: 'Graphik';
  text-decoration-line: underline;
  color: black;
  font-size: 1.25rem;
  font-weight: 2rem; }

.a_large {
  font-family: 'Graphik';
  text-decoration-line: underline;
  color: black;
  font-size: 1.5rem;
  font-weight: 2.06rem; }

.button_size_l {
  padding: 2rem 4.37rem;
  border: 4px solid black;
  border-radius: 3.75rem; }

.button_size_m {
  padding: 1.3rem 2.5rem;
  border: 3px solid black;
  border-radius: 3.12rem;
  transition: 0.5s; }

.button_size_s {
  padding: 0.75rem 1.5rem;
  border: 2px solid black;
  border-radius: 2.12rem;
  transition: 0.5s; }

.button_size_l:hover, .button_size_m:hover, .button_size_s:hover {
  box-shadow: 2px 5px white, 2px 7px black;
  -webkit-transform: translateY(-7px);
  -moz-transform: translateY(-7px);
  transform: translateY(-7px);
  background-color: #FF5F49;
  border: none; }

.button_size_l:focus, .button_size_m:focus, .button_size_s:focus {
  background-color: white;
  border-color: #FF5F49;
  outline: none; }

.button_size_l:active, .button_size_m:active, .button_size_s:active {
  border: none;
  background-color: #FF5F49; }

.button_size_l:disabled, .button_size_m:disabled, .button_size_s:disabled {
  opacity: 0.5; }

.text_size_l {
  font-size: 1.5rem;
  line-height: 2.06rem; }

.text_size_l_bold {
  font-size: 1.5rem;
  line-height: 2.06rem;
  font-weight: 600; }

.p_bold {
  font-size: 1.12rem;
  line-height: 1.37rem;
  font-weight: 600; }

.text_size_s {
  font-size: 1rem;
  font-weight: 1.37rem; }

.text_size_l, .text_size_l_bold, .p_bold, .text_size_s {
  font-family: 'Graphik'; }

.inputText {
  padding: 0.5rem 1rem;
  outline: none;
  font-family: 'Graphik';
  font-size: 1.37rem;
  line-height: 2rem;
  border: 0px;
  border-bottom: 2px solid black;
  background-color: #F4F4F4; }

.inputText:hover {
  border: 3px solid #89CBD7; }

.example {
  display: flex;
  flex-direction: column; }

/* laptop */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow: hidden; }

.wrapper {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh; }

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%; }

@font-face {
  font-family: "Graphik LC Web Regular";
  src: url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.eot");
  src: url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.woff") format("woff"), url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.svg#Graphik LC Web Regular") format("svg"); }

:root {
  --display-desctop: flex;
  --display-mobile: none;
  --arrow-opacity: 1; }

@media (max-width: 1280px) {
  :root {
    --arrow-opacity: 0.5; } }

@media (max-width: 1000px) {
  :root {
    --display-desctop: none;
    --display-mobile: flex; } }

@keyframes move-on {
  from {
    left: 100vw; }
  to {
    left: 0; } }

@keyframes move-out {
  from {
    left: 0; }
  to {
    left: 100vw; } }

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  height: 80px;
  overflow: hidden; }

.header__menu {
  display: var(--display-desctop);
  flex-direction: row;
  list-style-type: none; }

.header__menu__item {
  padding: 0 15px;
  justify-content: baseline; }

.menu__link {
  text-decoration: none; }

.header__menu__arrow {
  width: 18px;
  padding-top: 12px;
  opacity: var(--arrow-opacity); }

/*.arrow-1 {
  position: relative;
  width: 80px;
  height: 50px;
  margin: 20px;
}
.arrow-1 div {
  position: relative;
  top: 20px;
  width: 90px;
  height: 10px;
  background-color: #337AB7;
  left:0;
  display: block;
}
.arrow-1 div::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: -11px;
  right: -8px;
  background-color: #337AB7;
  transform: rotate(45deg);
}
.arrow-1 div::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: 11px;
  right: -8px;
  background-color: #337AB7;
  transform: rotate(-45deg);
}*/
.header__logo {
  display: var(--display-mobile);
  margin-left: 22px; }

.header__autorization {
  display: var(--display-desctop);
  margin-right: 20px; }

.header__autorization:hover {
  cursor: pointer; }

.header__burger-btn {
  display: var(--display-mobile);
  margin-right: 20px;
  justify-self: flex-end; }

.header__burger-btn:hover {
  cursor: pointer; }

.menu {
  display: var(--display-mobile);
  position: absolute;
  top: 0;
  left: 100vw;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  z-index: 5;
  background-color: white; }

.menu_on {
  left: 0;
  transition: all 1s; }

.menu_out {
  animation-duration: 1s;
  animation-name: move-out; }

.cross-btn {
  align-self: flex-end;
  margin: 23px 24px 0 0;
  width: 25px; }

.cross-btn:hover {
  cursor: pointer; }

.menu__nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: 60px; }

.menu__item {
  padding-top: 40px; }

.menu__social {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  list-style-type: none;
  margin: auto 0 52px 60px; }

.menu__socials__item {
  margin-left: 38px; }

.main-text-1 {
  font-family: 'Graphik LC';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #242938; }

.vertical-menu {
  position: sticky;
  display: var(--display-desctop);
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 100vh; }

.label {
  transform: rotate(270deg);
  margin-top: 150px;
  background-color: khaki; }

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  list-style-type: none; }

.social > li {
  padding: 10px 0; }

.footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: auto;
  height: 100px;
  margin: auto 0 0 0;
  background-color: #89CBD7; }

.profession {
  position: relative; }

.profession__display {
  width: fit-content; }

.profession__menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 0;
  overflow: hidden;
  background-color: #89CBD7; }

.profession__menu__list {
  list-style-type: none; }

.profession__menu__list:hover {
  cursor: pointer; }

.courses-main {
  display: flex;
  flex-direction: column; }

.card__list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: auto; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  border: 1px solid black;
  align-self: stretch;
  padding: 10px;
  font-family: Graphik; }

.card__img {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 10%;
  height: 100%;
  opacity: 0.5; }

.card__difficulty {
  font-weight: bold;
  font-size: 0.8rem; }

.card__author {
  margin-top: 15px;
  font-size: 0.8rem; }

.card__title {
  font-weight: bold;
  font-size: 0.8rem; }

.card__direction {
  justify-self: end;
  margin-top: auto;
  font-size: 0.8rem; }

.card__checkbox {
  position: absolute;
  z-index: 1;
  bottom: 15px;
  right: 15px;
  padding: 10px !important;
  border: 0;
  border-radius: 50%;
  background-color: blue; }
