*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow:hidden;
}

.wrapper {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}