

.header {
  display: block;
  justify-content: flex-start;
  height: 80px;
  overflow:hidden;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.nav-link {
  display: var(--display-wide);
  list-style-type: none;  
  & > li {
    padding: 0 15px;
    & > a {
      text-decoration: none;
      color: black;
    }
  }
}


.user {
  display: var(--display-wide);
}

.burger-btn {
  display: var(--display-narrow);
  height: 13px;
  margin-right: 20px;
}