.menu {
  display: var(--display-narrow);
  position: absolute;
  top: 0;
  left: 100vw;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: blueviolet;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.menu-social {
  display: flex;
  list-style-type: none;
}