*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.vertical-menu {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 100vh;
}

.label {
  transform: rotate(270deg);
  margin-top: 150px;
  background-color: khaki;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  list-style-type: none;
}

.social > li {
  padding: 10px 0;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.header {
  display: block;
  justify-content: flex-start;
  height: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu > li {
  padding: 0 15px;
}

.menu > li > a {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: auto;
  height: 100px;
  margin: auto 0 0 0;
  background-color: #89CBD7;
}

.profession-main {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.profession-choise {
  list-style-type: none;
}

.profession-choise:hover {
  cursor: pointer;
}

.prof-menu {
  position: relative;
}

.prof-menu-list {
  position: absolute;
  z-index: 1;
}