.profession{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: calc(100vh - 80px);
}
.profession_second-block{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
//надпись в абсолюте
.profession_select{
   font-family: 'Anonymous-bold';
   font-size: 2rem;
   line-height: 1.5;
   position: absolute;
   top: 9%;
   right: 70%;
}

.profession_strelka{
    position: absolute;
    right: 1%;
    top: 22%;
    width: 4rem;
    height: 7rem;

}
.profession_strelka-left{
    position: absolute;
    left: 6%;
    top: 22%;
    width: 4rem;
    height: 7rem;
}

.profession_video{
    height: 30rem;
}
//доп класс button для width
.profession_btn{
    width: fit-content;
}
//
.profession-button{
    max-width: 70rem;
    padding: 3rem 0;
    margin: 3rem 0rem;
}

.button_profession{
    border: none;
    font-family: 'Anonymous-bold';
    font-size: 2.5rem;
    line-height: 2;
    padding: 0 10px;
    background-color: white;
    cursor: pointer;
}

.button_profession__active{
    color: $color-element-red;
    cursor: auto;
}
.button_profession:focus{
    outline: none;
}
@media(max-width:144rem){
    .profession{
        justify-content: center;
    }
    .profession-logo{
        margin-left: 20rem;
    }
    .profession_second-block{
        margin: 0rem 10rem;
    }
    .profession_btn{
        margin-bottom: 4rem;
    }
}


@media (max-width:$tablet-width){
    .profession{
        justify-content: center;
    }
    .profession-logo{
        margin-left: 0rem;
        
    }
    // .profession_second-block{
    //     margin: 0rem 8rem;
    // }
    .profession_video{
        width: 100%;
        // height: 30rem;
    }
    .profession-button{
        max-width: 50rem;
    }
    .button_profession{
        font-size: 2rem;
        line-height: 2;
    }
    .profession_btn{
        margin-bottom: 3rem;
    }

}

@media (max-width: $phone-width){
    .profession{
        justify-content: center;
    }

    .profession-logo{
        // margin-left: 2rem;
        // padding: 0rem 5.2rem;

    }
    .profession_video{
        width: 100%;
    } 
    .button_profession{
        font-size: 2rem;
        line-height: 2;
    }
    .profession_btn{
        margin-bottom: 2rem;
    }
    .profession_select{
        top: 5%;
        left: 20%;
        width: 10rem;
    }
}