body{
    font-family: 'Graphik';
}
h1, h2, h3, h4{
    font-family: 'Anonymous Pro';
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
}

a{
    text-decoration-line: none;
    color: black;
    font-size: 1.25rem;
}
.a_text-size-lage{
    font-size: 1.5rem;
}
.__bold{
    font-weight: bold;
}
.btn{
    padding: 2rem 4.37rem;
    border: 4px solid black;
    border-radius: 60px;
    transition: 0.5s;
    font-size: 2rem;
}
.btn:hover {
    box-shadow:
    1px 4px white,
    1px 7px black;
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    transform: translateY(-6px);
    background-color: #FF5F49;
    border-color: transparent;
}
.btn:focus{
    background-color: white;
    border-color:#FF5F49 ;
    outline: none;
}
.btn:active{
    border: none;
    background-color: #FF5F49;
}
.btn:disabled{
     opacity: 0.5;
}
/*large text*/
.text-size-large{
    font-size: 1.5rem;
    line-height: 2.06rem;
}
/*Main text*/
.text-size-medium{
    font-size: 1.25rem;
    line-height: 2rem;
}
/*Main text2*/
.text-size-small{
    font-size: 1.12rem;
    line-height: 1.36rem;
}
/*Small text*/
.text-size-thesmallest{
    font-size: 1rem;
    line-height: 1.37rem;
}
.input-text{
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 1.37rem;
    line-height: 2rem;
    border: inherit;
    border-bottom: 3px solid black;
    background-color: #F4F4F4;
}
.input-text:hover{
    border-bottom: 3px solid #89CBD7;
}